PORT=5000
# Atlas: URL-encode special characters in password (@ # : / etc.)
# MONGODB_URI=mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/fayas?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=mongodb://127.0.0.1:27017/electrostaff
DEFAULT_ORGANIZATION_ID=
